# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# datagen
.cache

# local jars, ignored on every branch so switching branches does not delete them
libs

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
